<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.scoutcode">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lgsc"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TentangActivity"
            android:label="Tentang"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MateriActivity"
            android:label="Translator"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".TranslatorActivity"
            android:label="Translator"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".TSemaphoreActivity"
            android:label="Translator Semaphore"
            android:parentActivityName=".TranslatorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TranslatorActivity" />
        </activity>
        <activity
            android:name=".TMorseActivity"
            android:label="Translator Morse"
            android:parentActivityName=".TranslatorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TranslatorActivity" />
        </activity>
        <activity
            android:name=".tSandiKotakActivity"
            android:label="Translator Sandi Kotak"
            android:parentActivityName=".tSandiKotakActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TranslatorActivity" />
        </activity>
        <activity
            android:name=".TSandiKotakGandaActivity"
            android:label="Translator Sandi Kotak Ganda"
            android:parentActivityName=".TSandiKotakGandaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TranslatorActivity" />
        </activity>
        <activity
            android:name=".TSandiAngkaActivity"
            android:label="Translator Sandi Angka"
            android:parentActivityName=".TranslatorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TranslatorActivity" />
        </activity>
        <activity
            android:name=".TSandiANActivity"
            android:label="Translator Sandi AN"
            android:parentActivityName=".TranslatorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TranslatorActivity" />
        </activity>
        <activity
            android:name=".TSandiAZActivity"
            android:label="Translator Sandi AZ"
            android:parentActivityName=".TranslatorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TranslatorActivity" />
        </activity>
        <activity
            android:name=".TSandiKardinalActivity"
            android:label="Translator Sandi Kardinal"
            android:parentActivityName=".TranslatorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TranslatorActivity" />
        </activity>
        <activity
            android:name=".TSandiRumputActivity"
            android:label="Translator Sandi Rumput"
            android:parentActivityName=".TranslatorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TranslatorActivity" />
        </activity>

        <activity
            android:name=".TSandiInternasionalActivity"
            android:label="@string/title_activity_tsandi_internasional"
            android:parentActivityName=".TranslatorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TranslatorActivity" />
        </activity>


        <activity android:name=".MasukActivity" />
        <activity android:name=".DaftarActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".LatihanActivity"
            android:label="Latihan"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DetailMateriActivity"
            android:label="Materi"
            android:parentActivityName=".MateriActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MateriActivity" />
        </activity>
        <activity
            android:name=".LevelLatihanActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".LatihanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LatihanActivity" />
        </activity>
        <activity
            android:name=".PreLatihanActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".LevelLatihanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LevelLatihanActivity" />
        </activity>
        <activity
            android:name=".KerjakanLatihanActivity"
            android:label="Latihan"
            android:launchMode="singleTop" />
        <activity
            android:name=".ProfilActivity"
            android:label="Profil" />
        <activity
            android:name=".GradeActivity"
            android:label="Point Grade"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />


    </application>

</manifest>
